<h3>Viewing Profile</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Stars: <%= @user.star  %></p>
<%= link_to "Add Star", add_star_path(@user.id) %>
<% if @user.star %>
<% (1..@user.star).each do %>
<%= image_tag("star.png", :class=> "star") %>
<% end %>
<% end %>
