<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>This website is intended to leave positive recommendations for other users and sites. If you recommend someone or something, leave them a gold star! </p>
