<ul class="navigation">
  <li class="nav-item"><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
