<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Me A Star</title>
    <meta name="description" content="Give me a star">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= render 'layouts/navigation' %>
    <div class="site-wrap">
<!--    <main role="main"> -->
      <%= render 'layouts/messages' %>
      <%= yield %>
<!--    </main> -->
    </div>
  </body>
</html>
